@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --white_color: #fff;
  --primary_color: #2A2C39;
  --secondary_color: #252734;
  --primary_text_color: #858792;
  --border_color: #2e303d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Cormorant Garamond", serif;*/
  font-family: "Poppins", serif; 
  /* font-family: "Open Sans", sans-serif;  */
}
.section_sub_title{
  font-size: 18px;
  color: var(--primary_text_color);
}
.section_title{
  font-size: 70px;
  font-weight: 600;
  margin: 25px 0 100px 0;
}
.custom_btn {
  font-size: 15px;
  font-family: "Poppins", serif;
  background-color: transparent;
  border: none;
  height: 80px;
  padding: 8px 20px;
  transition: all 0.3s ease-in-out;
}
ul{
  list-style: none;
}
a{
  all: unset;
  color: var(--white_color);
  cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Cormorant Garamond", serif;
  color: var(--white_color);
  transition: all 0.3s ease-in-out;
}
section{
  padding: 100px;
}
img{
  width: 100%;
}
body {
  background-color: var(--primary_color);
}
/* *********Nav section styls here*********** */
header{
  background-color: var(--secondary_color);
}
.menubar{
  background-color: transparent;
  padding: 15px 0;
}
.logo h2{
  font-size: 36px;
  color: var(--white_color);
}
.menubar ul li a{
  font-size: 18px;
  color: var(--primary_text_color);
  padding: 8px 30px;
  -webkit-transition: all .5s linear;
  transition: all 1s ease;
}
.menubar ul li a:hover{
  color: var(--white_color);
}
.menubar .hire-me-btn button{
  font-size: 20px;
  height: 65px;
  line-height: 60px;
  padding: 0 40px 0 40px;
  color: var(--white_color);
  background-color: transparent;
  border: 1px solid var(--border_color);
  border-radius: 2rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.menubar .hire-me-btn button:hover{
  border: 1px solid transparent;
  background-color: var(--primary_color);
}

/* *********Banner styles here************ */
.banner-section{
  background-color: var(--secondary_color);
  overflow: hidden;
  height: calc(100vh - 0px);
  z-index: -100;
}
.banner_caption{
  margin-top: 80px;
}
.banner-section .banner_sub_title{
  font-size: 100px;
  color: var(--white_color);
}
.banner-section .banner_title{
  font-size: 120px;
  color: var(--white_color);
}
.banner-section .banner_caption p{
  font-size: 22px;
  color: var(--primary_text_color);
  margin: 40px 0 60px 0;
}
.banner-section .custom_btn{
  color: var(--white_color);
  border: 2px solid var(--border_color);
  border-radius: 40px;
  padding: 6px 60px;
}
.banner-section .custom_btn:hover{
  border: 2px solid transparent;
  background-color: var(--primary_color);
}
.watch-video-button {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-top: 100px;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.play-icon {
  border: 2px solid var(--primary_text_color);
  border-radius: 50%;
  padding: 30px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  opacity: .75;
}
.play-icon:hover {
  opacity: 1;
}
/* ******Right section******* */
.main-card {
  position: relative;
}
.profile-image{
  position: absolute;
  left: -180px;
  bottom: 125px;
  z-index: 10;
  
}
.profile-image img{
  max-width: 565px;
}
.profile-card {
  margin-top: 50px;
  position: relative;
  height: 100vh;
  text-align: right;
}

.shape {
  margin-top: 130px;
  width: 400px;
  height: 800px;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-left: 0;
  z-index: 1;
  display: block;
}

.shape::before {
  bottom: 68px;
  left: -75px;
  position: absolute;
  content: "";
  width: 400px;
  height: 660px;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-left: 0;
  z-index: -1;
  visibility: visible;
  opacity: 1;
}

.shape::after {
  bottom: -46px;
  left: 24px;
  position: absolute;
  content: "";
  width: 450px;
  height: 900px;
  border-top-right-radius: 450px;
  border-bottom-right-radius: 450px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-left: 0;
  z-index: -1;
  visibility: visible;
  opacity: 1;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -20px;
}

.social-icons a {
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 11;
  position: absolute;
  background: #252734;
}

.social-icons a:nth-child(1) {
  left: 230px;
  top: 60px;
}
.social-icons a:nth-child(2) {
  left: 325px;
  top: 195px;
}
.social-icons a:nth-child(3) {
  left: 356px;
  top: 360px;
}
.social-icons a:nth-child(4) {
  left: 324px;
  bottom: 197px;
}
/* *******Service section styles here******* */
#service_section .card{
  padding: 70px;
  background-color: var(--secondary_color) !important;
  color: var(--white_color);
  position: relative;
  overflow: hidden;
}
#service_section .card_image img{
  width: 56px;
}
#service_section .card-title{
  font-size: 28px;
  padding: 30px 0;
}
#service_section ul li{
  font-size: 16px;
  font-family: "Poppins", serif;
  margin-bottom: 15px;
  position: relative;
}
#service_section ul li::before{
  content: '\f101';
  font-family: 'fontawesome';
  position: absolute;
  top: 50%;
  left: -32px;
  transform: translateY(-50%);
}
#service_section .sape_top{
  position: absolute;
  top: -165px;
  right: -175px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
#service_section .sape_bottom{
  position: absolute;
  bottom: -165px;
  left: -175px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
#service_section .card:hover .sape_top,
#service_section .card:hover .sape_bottom{
  opacity: 1;
}
#service_section .sape{
  width: 300px;
  height: 300px;
  border: 1px solid var(--border_color);
  border-radius: 50%;
  display: block;
}
#service_section .sape::before{
  content: '';
  position: absolute;
  width: 380px;
  height: 380px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--border_color);
  border-radius: 50%;
}
#service_section .sape::after{
  content: '';
  position: absolute;
  width: 220px;
  height: 220px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--border_color);
  border-radius: 50%;
  border-left: none;
}
/* *********Skill section********* */
#skill_section{
  padding: 100px 0;
  background-color: var(--secondary_color);
  margin-right: calc(100% - 85%);
}
#skill_section .custom_btn{
  color: var(--white_color);
  border: 2px solid var(--border_color);
  border-radius: 40px;
  padding: 6px 60px;
}
#skill_section .custom_btn:hover{
  border: 2px solid transparent;
  background-color: var(--primary_color);
}
#skill_section .skill_title,
#skill_section .skill_parchen{
  color: var(--white_color);
  font-size: 16px;
}
#skill_section .skill_range{
  width: 400px;
  padding: 45px 45px 50px;
  margin-bottom: 25px;
  background-color: var(--primary_color);
  border-radius: 8px;
}
#skill_section .bar{
  width: 100%;
  height: 5px;
  background-color: var(--primary_text_color);
  display: block;
  border-radius: 8px;
}
#skill_section .bar span{
  height: 5px;
  background-color: var(--white_color);
  display: block;
  border-radius: 8px;
}
.comiunication{
  width: 75%;
  animation: comiunication 3s;
}
@keyframes comiunication {
  0%{
    width: 0;
  }
  100%{
    width: 75%;
  }
}
/* *********Counterup section styles******** */
#countrup_section{
  background-color: var(--border_color);
}
#countrup_section .countrup_image{
  border: 1px solid var(--primary_text_color);
}
#countrup_section img{
  margin: 15px 20px 0 0;
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}
#countrup_section span{
  font-size: 52px;
  font-weight: 400;
  color: var(--white_color);
}
#countrup_section p{
  font-size: 16px;
  color: var(--primary_text_color);
  display: block;
}
/* *******Project section styles here*********** */
#project_section h2{
  margin-top: 15px !important;
  font-size: 36px;
  font-family: "Poppins", serif;
  color: var(--white_color)
}
#project_section p a{
  font-size: 16px;
  font-family: "Poppins", serif;
  color: var(--primary_text_color);
}
